@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700,900);
/* @import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700); */

body {
    overflow-x:hidden;
    overflow-y:auto;
}

/* ---------- Text Styles ---------- */

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    font-family: 'Open Sans', sans-serif;
}

header h2 {
    font-weight: 300;
    color: white;
}

header h3 {
    font-weight: 300;
    color: white;
    margin-top: 30px;
}

.container-title {
    font-weight: 300;
    font-size: 1.95rem;
    color: #404041;
}


.copy {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 0.985rem;
    color: #808184;     
}

.feature-title {
    font-weight: 300;
    font-size: 1rem;
}

.feature-copy {
    font-weight: 300;
    font-size: 0.8rem;
    color: #808184;
}

footer p {
    font-weight: 300;
    font-size: 0.8rem;
}


.heavy {
    font-weight: 700;
}

.umph {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.swanky {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
}

/* ---------- NAVIGATION & FEATURE ----------*/



nav {
   font-weight: 700;
    padding: 30px 0 10px 0;
}

nav .left {
    font-size: 1.1rem;
}

nav .left img {
    float: left;
    margin-right: 10px;
    width: 30px;
}

nav .right {
    font-size: 0.685rem;
}

nav .right li {
    
    margin: 7px 10px 0 0;
}

nav ul {
    font-family: 'Lato', sans-serif;
    list-style: none;
}



nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    cursor: pointer;
}

nav ul li a:hover {
    color: #e0e0e0;
}


a.atlas-brand:hover {
    color: white;
}

.reg-btn {
    padding: 8px 15px;
    background-color: rgba(0,0,0,0.45);
    border: 2px solid #8bc53f;
    border-radius: 3px;
    color: #8bc53f;
    transition: 800ms ease-out;
    cursor: pointer;
}

.reg-btn:hover, .reg-btn:focus  {
    background-color: rgba(0,0,0,0.9);
    border: 2px solid #aeff45;
    color: #aeff45;
    transition: 250ms ease-in;
}


.sign-btn {
    font-size: 1rem;
    background-color: #8bc53f;
    border-bottom: 3px solid #6c9f29;
    text-transform: uppercase;
}

button.sign-btn:hover, button.sign-btn:focus, .button.sign-btn:hover, .button.sign-btn:focus {
      background-color: #6c9f29;}

.feat-btn {
    font-size: 1rem;
    background-color: #f7931e;
    border-bottom: 3px solid #c97b1f; 
    text-transform: uppercase;
}

button.feat-btn:hover, button.feat-btn:focus, .button.feat-btn:hover, .button.feat-btn:focus {
      background-color: #c97b1f;}


header {
/*  background-image: url(/img/age_of_pirates_antique_style_2_by_verdilak-d2zb61m.jpg);
    background-size: cover;
    background-attachment: fixed; */
    padding: 0;
    margin: 0;
    background-color: #233141; 
    
/*    background-color: #005ac1; */
/*  background-color: #0d2334; */
}


#fold-img {   
background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#33000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }


.feature-image {
  margin-top: 10px;
/*  box-shadow: 0px 5px 10px rgba(0,0,0,0.8); */
}

.scroll-icon {
    margin: 20px 0 20px 0;
}

.scroll-icon a:hover {
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    transition: 200ms ease-in-out;
}

/* ---------- CONTAINERS ----------*/

.container {
    padding: 75px;
}

.first img {
    width: 80%;
        float:right;
}

.button {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.second {    
    background-color: #f2f2f2;    
}

.second img {
    margin: 20px 0 0 0;
    width: 50%
}

.third .copy {
    margin-bottom: 50px;
}


/* ---------- Pricing Tables ---------- */

.pricing-table {  
    border: none;
  margin-left: 0;
  margin-bottom: 1.25rem; }
  .pricing-table * {
    list-style: none;
    line-height: 1; }
  .pricing-table .title {
    border-radius: 10px 10px 0px 0px;
    padding: 1.2rem 1.25rem 0.5rem 1.25rem;
    text-align: center;
    color: #fafafa;
    font-weight: 700;
    font-size: 1.825rem;
    font-family: "Lato", Helvetica, Helvetica Neue, sans-serif; }

  .pricing-table .price {
    background-color: #222;
    padding: 0.9375rem 1.25rem;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
    font-family: "Open Sans", Helvetica, Helvetica Neue, sans-serif; }

  .pricing-table .description {
    background-color: #222;
    padding: 0.9375rem;
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.4;
     }


  .pricing-table .bullet-item {
    text-transform: uppercase;
    background-color: #222;
    padding: 0.9375rem;
    text-align: center;
    color: #fff;
    font-size: 0.875rem;
    font-weight: normal;
    border-bottom: dotted 1px #dddddd; }


  .pricing-table .cta-button {
    background-color: #222;
    text-align: center;
    padding: 1.25rem 1.25rem 0;
    border-radius: 0px 0px 10px 10px;  
  }

.pricing-table .standard {
    background-color: #8bc53f;
     }

.standard-btn {
    font-size: 1.2rem;
    background-color: #8bc53f;
    border-bottom: 3px solid #6c9f29;
    text-transform: uppercase;
}

button.standard-btn:hover, button.standard-btn:focus, .button.standard-btn:hover, .button.standard-btn:focus {
      background-color: #6c9f29;}

.price-image {
    background-color: #222;
}

.price-image img {
    height: 30px;
    width: 100%;
}

.pricing-table .legendary {
    background-color: #e23434;
     }

.legendary-btn {
    font-size: 1.2rem;
    background-color: #e23434;
    border-bottom: 3px solid #c11f1f;
    text-transform: uppercase;
}

button.legendary-btn:hover, button.legendary-btn:focus, .button.legendary-btn:hover, .button.legendary-btn:focus {
      background-color: #c11f1f; }

.price-standard-image {
    background-color: #222;
}



.pricing-table .elite {
    background-color: #3e3ec1;

     }

.elite-btn {
    font-size: 1.2rem;
    background-color: #3e3ec1;
    border-bottom: 3px solid #2d2db7;
    text-transform: uppercase;
}

button.elite-btn:hover, button.elite-btn:focus, .button.elite-btn:hover, .button.elite-btn:focus {
      background-color: #2d2db7; }



/* .spartan-btn {
    font-size: 1.2rem;
    background-color: #f2ce88;
    border-bottom: 4px solid #deb566;
    text-transform: uppercase;
}

button.spartan-btn:hover, button.spartan-btn:focus, .button.spartan-btn:hover, .button.spartan-btn:focus {
      background-color: #deb566; } */

/* ---------- FOOTER ----------*/

footer {
    color: white;
    background-color: #222;
    padding: 25px 0;
    margin: 0;
}

/*
.shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
} */

.pricing-table .inactive {
    color: #777;
    background-color: #444;
}


/* SLIDER */

